# medical-fhir
odoo-addon-medical_administration_center@git+https://github.com/tegin/medical-fhir.git@16.0#subdirectory=medical_administration_center
odoo-addon-medical_administration_encounter@git+https://github.com/tegin/medical-fhir.git@16.0#subdirectory=medical_administration_encounter
odoo-addon-medical_administration_encounter_careplan@git+https://github.com/tegin/medical-fhir.git@16.0#subdirectory=medical_administration_encounter_careplan
odoo-addon-medical_administration_location@git+https://github.com/tegin/medical-fhir.git@16.0#subdirectory=medical_administration_location
odoo-addon-medical_administration_location_stock@git+https://github.com/tegin/medical-fhir.git@16.0#subdirectory=medical_administration_location_stock
odoo-addon-medical_administration_practitioner_specialty@git+https://github.com/tegin/medical-fhir.git@16.0#subdirectory=medical_administration_practitioner_specialty
odoo-addon-medical_base@git+https://github.com/tegin/medical-fhir.git@16.0#subdirectory=medical_base
odoo-addon-medical_certify@git+https://github.com/tegin/medical-fhir.git@16.0#subdirectory=medical_certify
odoo-addon-medical_clinical_careplan@git+https://github.com/tegin/medical-fhir.git@16.0#subdirectory=medical_clinical_careplan
odoo-addon-medical_clinical_procedure@git+https://github.com/tegin/medical-fhir.git@16.0#subdirectory=medical_clinical_procedure
odoo-addon-medical_clinical_request_group@git+https://github.com/tegin/medical-fhir.git@16.0#subdirectory=medical_clinical_request_group
odoo-addon-medical_diagnostic_report@git+https://github.com/tegin/medical-fhir.git@16.0#subdirectory=medical_diagnostic_report
odoo-addon-medical_diagnostic_report_encounter@git+https://github.com/tegin/medical-fhir.git@16.0#subdirectory=medical_diagnostic_report_encounter
odoo-addon-medical_financial_coverage@git+https://github.com/tegin/medical-fhir.git@16.0#subdirectory=medical_financial_coverage
odoo-addon-medical_medication@git+https://github.com/tegin/medical-fhir.git@16.0#subdirectory=medical_medication
odoo-addon-medical_medication_request@git+https://github.com/tegin/medical-fhir.git@16.0#subdirectory=medical_medication_request
odoo-addon-medical_terminology@git+https://github.com/tegin/medical-fhir.git@16.0#subdirectory=medical_terminology
odoo-addon-medical_terminology_atc@git+https://github.com/tegin/medical-fhir.git@16.0#subdirectory=medical_terminology_atc
odoo-addon-medical_terminology_sct@git+https://github.com/tegin/medical-fhir.git@16.0#subdirectory=medical_terminology_sct
odoo-addon-medical_workflow@git+https://github.com/tegin/medical-fhir.git@16.0#subdirectory=medical_workflow
odoo-addon-medical_administration_practitioner_specialty@git+https://github.com/tegin/medical-fhir.git@16.0#subdirectory=medical_administration_practitioner_specialty
odoo-addon-user_digital_signature@git+https://github.com/tegin/medical-fhir.git@16.0#subdirectory=user_digital_signature
